$dark: #141516;

.root {
  font-family: 'Roboto';
  font-weight: 400;
}

.link {
  color: $dark;
  font-weight: bold;

  &:visited {
    font-weight: bold;
  }

  &:focus {
    font-weight: bold;
  }

  &:active {
    font-weight: bold;
  }

  &:hover {
    font-weight: bold;
  }
}
