@use "../../styles/typo.scss";
@use "../../styles/mixins.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: calc(50% - 1rem);
  padding: 1rem;

  border: var(--border);
  border-radius: 1rem;

  text-decoration: none;
  color: var(--text-color);

  &:active {
    color: var(--text-color);
  }

  @include mixins.sm {
    width: 100%;
  }
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  > svg {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}

.title {
  @include typo.title;
  color: var(--text-color);
}

.body {
  @include typo.body;
  color: var(--text-color);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
