@use "../../styles/typo.scss";
@use "../../styles/mixins.scss";

.root {
  > :first-child {
    border-top-right-radius: 2rem;
  }
}

.diamond {
  position: absolute;
  right: calc(-2rem + 1px);
  top: calc(-2rem + 1px);

  width: 4rem;
  height: 4rem;

  color: var(--accent-3-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  padding-top: 2rem;

  @include mixins.md {
    padding-top: 1rem;
    gap: 1rem;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: calc(50% - 1rem);
  padding: 1rem;

  background-color: var(--card-bg);
  border: var(--border);
  border-radius: 0.5rem;

  @include mixins.md {
    flex: 1 1 auto;
  }
  @include mixins.sm {
    width: 100%;
  }

  &__image {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 0.5rem;
  }

  &__title {
    @include typo.title;
    color: var(--text-color);
    text-align: center;
  }
  &__body {
    @include typo.body;
    color: var(--text-color);
    text-align: center;
  }
}
