@function left($width) {
  $delta: calc($width / 2 - 50%);
  $abs: max($delta, -1 * $delta);
  @return calc($abs * -1);
}

.root {
  $circle: 500px;
  $width: calc($circle + 100%);
  $height: 600px;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(
    rgba(251, 252, 252, 1) 0%,
    rgba(230, 238, 238, 1) 15%,
    rgba(194, 209, 214, 1) 90%
  );

  &::before {
    position: fixed;
    left: left($width);
    bottom: calc($height * 0.75 * -1);
    width: $width;
    height: $height;

    border-radius: 50%;

    z-index: 0;
    content: " ";
    background-color: #141516;
  }
}
