@use "../../../styles/typo.scss";

.root {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.diamond {
  position: absolute;
  left: calc(-2rem - 1px);
  top: calc(-2rem - 1px);

  width: 4rem;
  height: 4rem;

  color: var(--accent-1-color);
}

.item {
  @include typo.body;

  display: flex;
  align-items: flex-start;
  align-self: stretch;

  color: var(--text-color);

  &:not(&:last-child) {
    border-bottom: var(--border);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    padding: 1rem 2rem;
  }

  &__title {
    @include typo.title;
  }
}

.button_container {
  display: flex;
  margin-top: 1.5rem;
}
