@use "../../styles/typo.scss";
@use "../../styles/mixins.scss";

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  height: 4.5rem;
  padding: 1rem;

  background-color: var(--accent-1-color);
  border: var(--border);

  @include mixins.md {
    justify-content: space-between
  }
}

.name {
  @include typo.display;
  color: var(--text-color);
}

.job {
  @include typo.display;
  color: var(--text-color);

  @include mixins.md {
    display: none;
  }
}

.menu {
  display: none;
  color: var(--text-color);

  padding: 0;
  margin: 0;
  outline: none;
  border: none;

  background-color: transparent;

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  @include mixins.md {
    display: block;
  }
}

.delimiter {
  width: 1rem;
  height: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  height: 4rem;
  padding: 0;
  margin: 0;

  background-color: var(--card-bg);

  border: var(--border);
  border-top-style: none;

  @include mixins.md {
    display: none;
  }
}

.close {
  width: 2rem;
  height: 2rem;

  border-radius: 1rem;

  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: var(--card-bg);

  cursor: pointer;

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

.mobile {
  display: none;

  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;

  position: absolute;
  right: 1rem;
  top: 1rem;
  min-width: 20rem;

  padding: 2rem;

  border: var(--border);
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: var(--card-bg);

  &__show {
    display: flex;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    width: 100%;

    margin: 0;
    padding: 0;
  }
}
