@use "../../styles/typo.scss";
@use "../../styles/mixins.scss";

.root {
  display: flex;
  flex-direction: column;

  max-width: 700px;
  margin: 4rem 4rem;

  background-color: var(--card-bg);
  border: var(--border);

  @include mixins.md {
    margin: 2rem 2rem;
  }

  @include mixins.sm {
    margin: 1rem 1rem; 
  }
}

.container {
  padding: 1.5rem 2rem;
  border-bottom: var(--border);
}

.headline {
  @include typo.headline;
  color: var(--text-color);

  margin: 0;
  padding: 0;
}
