@use '../../styles/mixins.scss';

$dark: #141516;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: 'Roboto';
  font-size: 1rem;

  height: 5rem;

  padding: 0 1rem;

  @include mixins.sm {
    height: 3rem;
    padding: 0;
  }
}

.item {
  display: flex;

  text-decoration: none;

  z-index: 1;

  &:visited {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:not(:first-child) {
    margin-left: 2rem;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $dark;
  }

  &__label {
    color: $dark;
    margin-left: 0.25rem;

    @media (max-width: 530px) {
      display: none;
    }
  }
}
