@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 900;
  src: local('Archivo'),
    url('./fonts/Archivo/archivo-black-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('./fonts/Roboto/roboto-regular.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
