@use "../../../styles/typo.scss";
@use "../../../styles/mixins.scss";

.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 700px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  padding: 2rem;

  border: var(--border);
  background-color: var(--card-bg);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.display {
  @include typo.display;
  color: var(--text-color);

  margin: 0;
  padding: 0;
}

.body {
  @include typo.body;
  color: var(--text-color);
}

.contacts {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  padding-top: 1rem;

  > :nth-child(1) {
    background-color: var(--accent-1-color);
  }
  > :nth-child(2) {
    background-color: var(--accent-3-color);
  }
  > :nth-child(3) {
    background-color: var(--accent-2-color);
  }
  > :nth-child(4) {
    background-color: var(--card-bg);
  }
}
